---
import Layout from '../components/Layout.astro';
import we3IoLogo from '/we3-2022-logo.svg';
---

<Layout title="We3.io - Digital Platform Studio">
	<main>
    <div id="content">
      <h1><img src={we3IoLogo} width="200" height="200" alt="We3.io - Digital Platform Studio" /></h1>
    </div>
	</main>
</Layout>