---
import Layout from "../components/Layout.astro";
---

<Layout title="We3.io - Digital Platform Studio">
  <main>
    <div id="content" class="home partnership">
      <div data-tf-live="01HSGH65NSPDMH0XV8H1PKPTCG"></div>
      <script is:inline src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </main>
</Layout>
