---
import { Image } from "astro:assets";
import Layout from "../components/Layout.astro";
import logo from "../assets/we3-2024-logo.svg";
---

<Layout title="We3.io - Digital Platform Studio">
  <main>
    <div id="content">
      <span id="logo">
        <a href="/">
          <Image
            src={logo}
            alt="We3.io - Digital Platform Studio"
            width="200"
            height="200"
          /></a
        >
      </span>
      <div class="article">
        <h1 id="privacy-statement">Privacy Statement</h1>
        <p><strong>Introduction</strong></p>
        <p>
          We value your privacy and are committed to protecting your personal
          information. This Privacy Statement outlines the types of information
          we collect, how we use it, and the measures we take to ensure your
          information remains secure.
        </p>
        <p><strong>Information We Collect</strong></p>
        <ol>
          <li>
            <strong>Personal Information:</strong> When you visit our website, we
            may collect personal information such as your name, email address, phone
            number, and any other information you provide to us voluntarily.
          </li>
          <li>
            <strong>Usage Data:</strong> We automatically collect information about
            your interaction with our website, including your IP address, browser
            type, pages visited, and the time and date of your visit.
          </li>
        </ol>
        <p><strong>How We Use Your Information</strong></p>
        <ol>
          <li>
            <strong>To Provide Services:</strong> We use your personal information
            to provide and improve our services, respond to your enquiries, and fulfil
            your requests.
          </li>
          <li>
            <strong>Communication:</strong> We may use your contact information to
            send you updates, newsletters, and other relevant information about our
            services.
          </li>
          <li>
            <strong>Analytics:</strong> We analyse usage data to better understand
            how our website is used and to enhance the user experience.
          </li>
        </ol>
        <p><strong>Information Sharing</strong></p>
        <p>
          We do not sell, trade, or otherwise transfer your personal information
          to outside parties except as described in this Privacy Statement. We
          may share your information with trusted third parties who assist us in
          operating our website, conducting our business, or servicing you,
          provided that those parties agree to keep this information
          confidential.
        </p>
        <p><strong>Security</strong></p>
        <p>
          We implement a variety of security measures to maintain the safety of
          your personal information. However, please be aware that no method of
          transmitting or storing data is completely secure, and we cannot
          guarantee absolute security.
        </p>
        <p><strong>Cookies</strong></p>
        <p>
          Our website uses cookies to enhance your browsing experience. Cookies
          are small files that a site or its service provider transfers to your
          computer’s hard drive through your web browser that enables the site’s
          or service provider’s systems to recognise your browser and capture
          and remember certain information.
        </p>
        <p><strong>Your Choices</strong></p>
        <p>
          You can choose to disable cookies through your browser settings.
          Additionally, you may opt out of receiving communications from us at
          any time by following the unsubscribe link provided in our emails.
        </p>
        <p><strong>Changes to This Privacy Statement</strong></p>
        <p>
          We may update this Privacy Statement from time to time. Any changes
          will be posted on this page, and we encourage you to review this
          Privacy Statement periodically.
        </p>
        <p><strong>Contact Us</strong></p>
        <p>
          If you have any questions about this Privacy Statement, please contact
          us at:
        </p>
        <p>We3.io<br />legal @ we3.io</p>
      </div>
    </div>
  </main>
</Layout>
