---
const date = new Date();
---

<footer>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
  <div class="copyright-statement">
    &copy; {date.getFullYear()} We3.io All rights reserved
  </div>
</footer>
